@font-face {
  font-family: "iconfont"; /* Project id 4692627 */
  src: url("./iconfont.woff2") format("woff2");
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shujuzidian_shujuzidian:before {
  content: "\e66a";
}

.icon-wenhao:before {
  content: "\e621";
}

.icon-riLine-contacts-line:before {
  content: "\e614";
}

.icon-shouye:before {
  content: "\e616";
}

.icon-jiankong:before {
  content: "\e6d0";
}

.icon-xitong:before {
  content: "\e62a";
}

.icon-tool:before {
  content: "\e669";
}

.icon-shanchu:before {
  content: "\e66e";
}

.icon-bianji:before {
  content: "\e651";
}

.icon-guanbi:before {
  content: "\e611";
}

.icon-yonghu:before {
  content: "\e68d";
}

.icon-tuichu:before {
  content: "\e647";
}

.icon-taiyang:before {
  content: "\e62e";
}

.icon-moon:before {
  content: "\e6c2";
}
