@font-face {
  font-family: "iconfont"; /* Project id 4692627 */
  src: url("./iconfont.woff2") format("woff2");
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-guanbi:before {
  content: "\e611";
}

.icon-yonghu:before {
  content: "\e68d";
}

.icon-tuichu:before {
  content: "\e647";
}

.icon-taiyang:before {
  content: "\e62e";
}

.icon-moon:before {
  content: "\e6c2";
}
