// 覆盖主题色
$primary: #198754;
$success: #0d6efd;

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": $primary,
    ),
    "success": (
      "base": $success,
    ),
  )
); //forward必须写在最开始

// 然后在任意部位全局引入(不是像非暗色模式时按需引入需要去vite.config.ts修改配置项)
